.App {
  text-align: center;
}


.hide{
  display: none;
}

.screenshot-img{
  position: relative;
  bottom: 50px;
  height: 150px;

}

.textarea{
  position: absolute;
  left:-99999px;
}

video{
  width: 100%;
}