.App {
  text-align: center;
}


.hide{
  display: none;
}

.screenshot-img{
  height: 150px;
}

.textarea{
  position: absolute;
  left:-99999px;
}

.video-cont{
  position: relative;
  height: auto;
}

video{
  width: 100%;
}

.camera-btn{
  height: 50px;
  position: relative;
  bottom: 70px;
  cursor: pointer;

}

.test{
  position: relative;
  bottom: 70px;
}